# Cloudinary Configuration
VITE_CLOUDINARY_CLOUD_NAME=dp3gvxyft
VITE_CLOUDINARY_API_KEY=your_api_key_here
VITE_CLOUDINARY_API_SECRET=your_api_secret_here

# Folder structure for Dr. del Rosario website
VITE_CLOUDINARY_LOGO_FOLDER=logos
VITE_CLOUDINARY_VIDEO_FOLDER=video
VITE_CLOUDINARY_FAVICON_FOLDER=favicon